<h1>Add Movie </h1>

<%= form_for @movie do |f| %>

<p>
<%= f.label :title %>
<%= f.text_field :title %>
</p>

<p>
<%= f.label :director %>
<%= f.text_field :director %>
</p>

<p>
<%= f.label :release_year %>
<%= f.text_field :release_year %>
</p>

<p>
<%= f.label :rating %>
<%= f.text_field :rating %>
</p>

<p><%= f.submit %>

<% end %>

<!-- This is my old code before I watched the screencast-->

<!-- <form action="/movies" method="post">
<%= token_tag nil%>
<table border="1">
    <tr>
        <td></td>
        <td>Enter Value</td>
    </tr>
    <tr>
        <td>Movie title:</td>
        <td><input type="text" name=title></td>
    </tr>
    <tr>
        <td>Movie director:</td>
        <td><input type="text" name=director></td>
    </tr>
    <tr>
        <td>Release year:</td>
        <td><input type="text" name=release_year></td>
    </tr>
    <tr>
        <td>Movie rating: (out of 10):</td>
        <td><input type="text" name=rating></td>
    </tr>
    <input type="submit" />
</form>
 -->